body {
    background-color: #ADD8E6; /* Define a cor de fundo como azul claro */
}
/* Centraliza a imagem */
.centralizado {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


 /* Estiliza o texto */
p {
        font-family: Arial, sans-serif;
        font-size: 18px;
        line-height: 1.5;
        color: #333;
        text-align: center;
}

      /* Adiciona um destaque ao texto */
.destaque {
        color: #ff0000;
        font-weight: bold;
}

      /* Centraliza o formulário */
form {
        margin: 0 auto;
        width: 300px;
}

      /* Estiliza o formulário */
form {
        border: none;
        background-color: transparent;
        padding: 20px;
}

label {
        display: block;
        margin-bottom: 10px;
}

      /* Estiliza os campos de entrada */
input[type="text"],
input[type="email"],
input[type="tel"] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 25px; /* Adiciona bordas arredondadas */
}

input[type="submit"] {
        width: 100%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
}

input[type="submit"]:hover {
        background-color: #45a049;
}